@import url(https://fonts.googleapis.com/css?family=Poppins);
* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.sumitel {
  max-width: 60%;
  height: 100px !important;
}

.telcel {
  max-width: 60%;
  height: 100px !important;
}

.text_header {
  font-size: 18px;
  margin-top: 68px;
}

.title {
  padding: 0 !important;
  margin-top: 5px !important;
}

.orden {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.numFact {
  font-family: 'Poppins', sans-serif;
  font-size: 42px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

